table {
    width: 70%; 
    background-color: rgb(216, 214, 214);
    float:left;
}
table tr:nth-child(even) {
    background-color: #eee;
}
table tr:nth-child(odd) {
    background-color: #fff;
}
table th {
    color: rgb(46, 46, 46);
    background-color: rgb(216, 214, 214);
}