<section>
    <article>
      Тут будет фильтр<br><br><br>
    </article>
  </section>
  
<section>
  <table>
    <caption>Справочник: Товары</caption>
    <tr>
      <th>Фото</th>
      <th>Наименование</th>
      <th>Вес</th>
      <th>Характеристики</th>
      <th>Ссылка в магазин</th>
      <th>Остаток</th>
    </tr>
    <tr><td colspan="6">Клампы</td></tr>
    <ng-container *ngFor="let x of good">
    <tr>
      <td><img width="40px;" [src]=x.photo /></td>
      <td>{{x.name}}</td>
      <td>{{x.weight}}</td>
      <td>{{x.stats}}</td>
      <td><a target="new" href="{{x.shopLink}}">{{x.shopLink}}</a></td>
      <td>{{x.stock}} {{x.dimension}}</td>
    </tr>
  </ng-container>
    
  </table>
  <div style="width:29%;float:right;">
    <form>
        <fieldset style="text-align: right;">
          <legend>Быстрое добавление товара</legend>
          <p><label for="name">Категория </label><input type="text" id="name"></p>
          <p><label for="name">Наименование </label><input type="text" id="name"></p>
          <p><label for="name">Характеристики </label><input type="text" id="name"></p>
          <p><label for="name">Ссылка в магазин </label><input type="url" id="name"></p>
          <p><label for="email">Остаток </label><input type="email" id="email"></p>
          <p><label for="name">Фото </label><input type="file" id="name"></p>
        </fieldset>
      <p><input type="submit" value="Добавить"></p>
      </form>
  </div>
</section>
