<nav>
 
  <ul>
      <li><h3>Gradus-k B2B Service</h3></li>
    <li><a routerLink="/home" class="active">Главная</a></li>
    <li><a routerLink="/orders">Заявки</a></li>
    <li><a routerLink="/goods">Товары</a></li>
    <li><a routerLink="/suppliers">Поставщики</a></li>
    <li><a routerLink="/buyers">Покупатели</a></li>
    <li><a routerLink="/settings">Настройки</a></li>
  </ul>
</nav>
    