nav {
    background-color: #333;
    margin: 0;
    overflow: hidden;
}
nav ul{
    margin: 0;
    padding: 0;
}
nav ul li {
    display: inline-block;
    list-style-type: none;
}
nav ul li h3 {
    color:#fff;
    margin:auto 15px;
}
nav > ul > li > a {
    color: rgb(187, 186, 186);
    /*background-color:rgb(87, 87, 84);*/
    display: block;
    line-height: 2em;
    padding: 0.5em 0.5em;
    text-decoration: none;
}
nav > ul > li > a.active {
    color: rgb(144, 255, 140);
    text-decoration: none;
}